@import '~igniteui-angular/lib/core/styles/themes/index';

$colorful-card: igx-card-theme(
  $background: #353A50,
  $header-text-color: #ffffff,
  $subtitle-text-color: #ffffff,
  $content-text-color: #ffffff
);

:host {
  ::ng-deep {
    @include igx-card($colorful-card);
  }
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  // display: flex;
  // flex-wrap: wrap;
  // align-content: center;
  // justify-content: center;
}

igx-card {
  color: white;
  margin-bottom: 8px;
  min-width: 120px;
  padding: auto;
  // margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

i {
  padding-top: 10px;
  text-align: center;
}

.text {
  display: inline-block;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  align-items: stretch;
}

h5 {
  color: #bdeaf2;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: auto;
  padding-top: 4px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}