<div class="card-container">
  <igx-card *ngIf="stats">
    <i class="fas fa-road fa-3x"></i>
    <div class=text>
      miles traveled
      <h5>{{stats.milesTraveled}}</h5>
    </div>
  </igx-card>

  <igx-card *ngIf="stats">
    <i class="fas fa-suitcase fa-3x"></i>
    <div class=text>
      trips taken
      <h5>{{stats.numberOfTrips}}</h5>
    </div>
  </igx-card>

  <igx-card *ngIf="stats">
    <i class="fas fa-city fa-3x"></i>
    <div class=text>
      cities visited
      <h5>{{stats.numberOfCities}}</h5>
      </div>
  </igx-card>
</div>

<!-- 
<igx-card type="outlined">
  <div class="h-sample-column">
    <igx-card-content>
      <span>
        <h4>Top 5 Interests</h4>
        <ul>
          <li *ngFor="let interest of stats.top5Interests">{{interest}}</li>
        </ul>
      </span>
    </igx-card-content>
  </div>
</igx-card> -->
