<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
  <igx-tabs tabsType="fixed">
    <igx-tabs-group label="CURRENT">
      <igx-list>
        <ng-template igxEmptyList>
          <p class="empty">You aren't on a trip.</p>
          <p class="empty"> Route one now!</p>
        </ng-template>
            <igx-list-item *ngFor="let current of current" (click)="dialog.open()">
              <p igxListLineTitle (click)="tripDetails(current[0])">{{current[0].route}}</p>
          <igx-dialog #dialog title="Trip Details" leftButtonLabel="Close" (onLeftButtonSelect)="dialog.close()"
            rightButtonLabel="Edit" (onRightButtonSelect)="editTrip($event, current)">
            <p>Origin: {{details.origin}}</p>
            <p *ngFor="let waypoint of details.wayPoints">
              Waypoint 1: {{waypoint}}
            </p>
            <p>Destination: {{details.destination}}</p>
            <p>Start Date: {{details.start}}</p>
            <p>End Date: {{details.end}}</p>
            <p>Distance: {{details.distance}}</p>
            <p>Duration: {{details.duration}}</p>
          </igx-dialog>
            </igx-list-item>
      </igx-list>
    </igx-tabs-group>
    <igx-tabs-group label="UPCOMING">
      <igx-list>
        <ng-template igxEmptyList>
          <p class="empty">You have no upcoming trips.</p>
          <p class="empty"> Route one now!</p>
        </ng-template>
        <igx-list-item *ngFor="let upcoming of upcoming" (click)="dialog.open()">
          <p igxListLineTitle (click)="tripDetails(upcoming[0])">{{upcoming[0].route}}</p>
          <igx-dialog #dialog title="Trip Details" leftButtonLabel="Close" (onLeftButtonSelect)="dialog.close()"
            rightButtonLabel="Edit" (onRightButtonSelect)="editTrip($event, upcoming)">
            <!-- <p *ngFor="let waypoint of details.wayPoints">
              Waypoint 1: {{waypoint}}
            </p> -->
            <p>
            Origin: {{details.origin}}<br>
            Destination: {{details.destination}}<br>
            Start Date: {{details.start}}<br>
            End Date: {{details.end}}<br>
            Distance: {{details.distance}}<br>
            Duration: {{details.duration}}
            </p>
          </igx-dialog>
        </igx-list-item>
      </igx-list>
    </igx-tabs-group>
    <igx-tabs-group label="PREVIOUS">
      <igx-list>
        <ng-template igxEmptyList>
          <p class="empty">You haven't taken a trip yet.</p>
          <p class="empty"> Route one now!</p>
        </ng-template>
        <igx-list-item *ngFor="let previous of previous" (click)="dialog.open()">
          <p igxListLineTitle (click)="tripDetails(previous[0])">{{previous[0].route}}</p>
          <igx-dialog #dialog title="Trip Details"
            rightButtonLabel="Close" (onRightButtonSelect)="dialog.close()">
            <p>Origin: {{details.origin}}</p>
            <p *ngFor="let waypoint of details.wayPoints">
              Waypoint 1: {{waypoint}}
            </p>
            <p>Destination: {{details.destination}}</p>
            <p>Start Date: {{details.start}}</p>
            <p>End Date: {{details.end}}</p>
            <p>Distance: {{details.distance}}</p>
            <p>Duration: {{details.duration}}</p>
          </igx-dialog>
        </igx-list-item>
      </igx-list>
    </igx-tabs-group>
  </igx-tabs>
</div>
