<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
  <igx-tabs tabsType="fixed">
    <igx-tabs-group label="CURRENT">
      <igx-list>
        <ng-template igxEmptyList>
          <p class="empty">You aren't on a trip.</p>
          <p class="empty"> Route one now!</p>
        </ng-template>
            <igx-list-item *ngFor="let current of current">
              <p igxListLineTitle (click)="tripDetails(current); dialog.open()">{{current.route}}</p>
              <igx-suffix>
                <igx-icon (click)="deleteTrip(current)">cancel</igx-icon>
              </igx-suffix>
          <igx-dialog #dialog title="Trip Details" leftButtonLabel="Close" (onLeftButtonSelect)="dialog.close()"
            rightButtonLabel="Edit" (onRightButtonSelect)="editTrip($event, current)">
            <p>
              Origin: {{details.origin}}<br>
              <span *ngFor="let waypoint of details.wayPoints; let i = index">
                Waypoint {{i+1}}: {{waypoint}}<br>
              </span>
              Destination: {{details.destination}}<br>
              Start Date: {{details.start}}<br>
              End Date: {{details.end}}<br>
              Distance: {{details.distance}}<br>
              Duration: {{details.duration}}
            </p>
          </igx-dialog>
        </igx-list-item>
      </igx-list>
    </igx-tabs-group>
    <igx-tabs-group label="UPCOMING">
      <igx-list>
        <ng-template igxEmptyList>
          <p class="empty">You have no upcoming trips.</p>
          <p class="empty"> Route one now!</p>
        </ng-template>
        <igx-list-item *ngFor="let upcoming of upcoming">
          <p igxListLineTitle (click)="tripDetails(upcoming); dialog.open()">{{upcoming.route}}</p>
          <igx-suffix>
            <igx-icon (click)="deleteTrip(upcoming)">cancel</igx-icon>
          </igx-suffix>
          <igx-dialog #dialog title="Trip Details" leftButtonLabel="Close" (onLeftButtonSelect)="dialog.close()"
            rightButtonLabel="Edit" (onRightButtonSelect)="editTrip($event, upcoming)">
            <p>
            Origin: {{details.origin}}<br>
            <span *ngFor="let waypoint of details.wayPoints; let i = index">
              Waypoint {{i+1}}: {{waypoint}}<br>
            </span>
            Destination: {{details.destination}}<br>
            Start Date: {{details.start}}<br>
            End Date: {{details.end}}<br>
            Distance: {{details.distance}}<br>
            Duration: {{details.duration}}
            </p>
          </igx-dialog>
        </igx-list-item>
      </igx-list>
    </igx-tabs-group>
    <igx-tabs-group label="PREVIOUS">
      <igx-list>
        <ng-template igxEmptyList>
          <p class="empty">You haven't taken a trip yet.</p>
          <p class="empty"> Route one now!</p>
        </ng-template>
        <igx-list-item *ngFor="let previous of previous">
          <p igxListLineTitle (click)="tripDetails(previous); dialog.open()">{{previous.route}}</p>
          <igx-suffix>
            <igx-icon (click)="deleteTrip(previous)">cancel</igx-icon>
          </igx-suffix>
          <igx-dialog #dialog title="Trip Details"
            rightButtonLabel="Close" (onRightButtonSelect)="dialog.close()">
            <p>
              Origin: {{details.origin}}<br>
              <span *ngFor="let waypoint of details.wayPoints; let i = index">
                Waypoint {{i+1}}: {{waypoint}}<br>
              </span>
              Destination: {{details.destination}}<br>
              Start Date: {{details.start}}<br>
              End Date: {{details.end}}<br>
              Distance: {{details.distance}}<br>
              Duration: {{details.duration}}
            </p>
          </igx-dialog>
        </igx-list-item>
      </igx-list>
    </igx-tabs-group>
  </igx-tabs>
</div>
