<div *ngIf="userPlaces" class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">

  <igx-tabs tabsType="fixed">
    <igx-tabs-group label="Likes">
      <ng-container *ngFor="let city of objectKeys(userPlaces.likedPlaces)">
        <h5>{{city}}</h5>
        <igx-carousel [pause]="true" [loop]="true" [navigation]="true">
          <ng-container *ngFor="let likedPlace of userPlaces.likedPlaces[city]">
            <igx-slide>
              <div class="card-column">
                <igx-card>
                  <igx-card-header>
                    <h3 igxCardHeaderTitle>{{likedPlace.name}}</h3>
                  </igx-card-header>
                  <igx-card-media (click)="navigateWithState(likedPlace.placeId)" height="300px">
                    <ng-container>
                      <img [src]="likedPlace.photo">
                    </ng-container>
                  </igx-card-media>
                </igx-card>
              </div>
            </igx-slide>
          </ng-container>
        </igx-carousel>
      </ng-container>
    </igx-tabs-group>

    <igx-tabs-group label="Saved">
      <ng-container *ngFor="let city of objectKeys(userPlaces.savedPlaces)">
        <h5>{{city}}</h5>
        <igx-carousel [pause]="true" [loop]="true" [navigation]="true">
          <ng-container *ngFor="let savedPlace of userPlaces.savedPlaces[city]">
            <igx-slide>
              <div class="card-column">
                <igx-card>
                  <igx-card-header>
                    <h3 igxCardHeaderTitle>{{savedPlace.name}}</h3>
                  </igx-card-header>
                  <igx-card-media (click)="navigateWithState(savedPlace.placeId)" height="300px">
                    <ng-container>
                      <img [src]="savedPlace.photo">
                    </ng-container>
                  </igx-card-media>
                </igx-card>
              </div>
            </igx-slide>
          </ng-container>
        </igx-carousel>
      </ng-container>
    </igx-tabs-group>
  </igx-tabs>
</div>